<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id = "icon" rel = "icon" type = "image/png" href = "images/favicon.png">
    <link rel = "stylesheet" href = "styles/stylesheet.css">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your submission, <%= response.first_name %>!</h1>

    <h2>Submission Details</h2>
    <p>Name: <%= response.first_name %> <%= response.last_name %></p>
    <p>You work as <%= response.job %> at <%= response.company %></p>
    <p>LinkedIn: <%= response.linkedin %></p>
    <p>Email: <%= response.email %></p>
    <p>We met through: <%= response.how_meet %></p>
    <p>Message: <%= response.content %></p>
    <% if(response.add_me == "confirm") { %>
        <p>Mailing List: <%= response.add_me %></p>
    <% } else {%>
        <p>Mailing List: Not subscribed</p>
    <% } %>
</body>
</html>