<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Summery:</h1>

    <% if (data.length == 0){ %>
    <h3>There are no orders</h3>
    <% } %> <% for(let i = 0; i< data.length; i++){ %>
    <div class="orderGroup">
      <h3>Order number: <%= i %></h3>
      <p>Name: <%= data[i].fname %> <%= data[i].lname %></p>
      <p>Job: <%= data[i].job %> at <%= data[i].company %></p>
      <p>LinkedIn: <%= data[i].linkedin %></p>
      <p>Email: <%= data[i].email %></p>
      <p>how we met: <%= data[i].howMeet %></p>
      <p>time stamp: <%= data[i].timestamp %></p>
    </div>
    <% } %>

    <form action="/home" method="post">
      <button id="goButton" type="submit" type="text">Go Home</button>
    </form>
  </body>
</html>
